Repository INDAPP/expo-signature: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx}": [
      "npm run lint -- --fix --max-warnings=0",
      "prettier --write"
    ],
    "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

style: apply prettier rules 🤩 (#10)
  .github/workflows/CI.yml
  app.plugin.js
  plugin/src/withLocalAuthentication.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write

build: bump to v0.2.0
  package-lock.json
  package.json
Due: prettier -w

build: npm prepare before publish
  .github/workflows/release.yml
  .gitignore
  package.json
  plugin/build/withLocalAuthentication.d.ts
  plugin/build/withLocalAuthentication.js
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

build: npm build before publish
  .github/workflows/release.yml
  .gitignore
  package.json
  plugin/build/withLocalAuthentication.d.ts
  plugin/build/withLocalAuthentication.js
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

build: bump to v0.2.1
  package.json
Due: prettier -w

ci: add content write permission to release action
  .github/workflows/release.yml
Due: none

fix: npm publish 📰 (#11)
  .github/workflows/release.yml
  .gitignore
  package.json
  plugin/build/withLocalAuthentication.d.ts
  plugin/build/withLocalAuthentication.js
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

build: update all packages
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  plugin/tsconfig.tsbuildinfo
  tsconfig.json
Due: prettier -w

build: update eslint
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
  plugin/tsconfig.tsbuildinfo
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

fix: public key return type is always undefined in react
  ios/Module/SignatureModule.swift
Due: none

chore: export types from index
  src/index.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write

build: bump package version to 0.3.0
  package-lock.json
  package.json
Due: prettier -w

build: update ios minimum deployment target to 15.1
  ios/SignatureModule.podspec
Due: none

ci: update runner tag and pr trigger paths
  .github/workflows/test.yml
Due: none

fix: merge public key types in a single record struct
  ios/Module/SignatureModule.swift
  ios/Module/models/PublicKey.swift
  ios/Tests/SignatureModuleTests.swift
Due: none

build: upgrade dependencies to expo 53 (#12)
  .eslintrc.js
  .github/workflows/test.yml
  eslint.config.js
  example/package-lock.json
  example/package.json
  ios/Module/SignatureModule.swift
  ios/Module/models/PublicKey.swift
  ios/SignatureModule.podspec
  ios/Tests/SignatureModuleTests.swift
  package-lock.json
  package.json
  plugin/tsconfig.tsbuildinfo
  src/index.ts
  tsconfig.json
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

refactor: use ASN.1 key format between react native and native code
  android/src/main/java/expo/module/signature/SignatureModule.kt
  example/App.tsx
  ios/Module/SignatureModule.swift
  ios/Module/models/SignatureAlgorithm.swift
  src/index.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write

refactor: return the already generated key if it exists in ios
  ios/Module/SignatureModule.swift
Due: none

refactor: return the already generated key if it exists in android
  android/src/main/java/expo/module/signature/SignatureModule.kt
Due: none

test: multiple key generation in ios
  ios/Module/models/PublicKey.swift
  ios/Tests/SignatureModuleTests.swift
Due: none

test: multiple key generation in android
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
Due: none

fix: multiple key creation 🔑🔑 (#13)
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
  android/src/main/java/expo/module/signature/SignatureModule.kt
  ios/Module/SignatureModule.swift
  ios/Module/models/PublicKey.swift
  ios/Tests/SignatureModuleTests.swift
Due: none

build: bump package version to 0.3.1
  package-lock.json
  package.json
Due: prettier -w

build: bump package version to 0.3.1 (#14)
  package-lock.json
  package.json
Due: prettier -w

feat: add invalidate option prop to the key specification object
  src/SignatureModule.types.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write

feat: add an invalidate key option to ios
  ios/Module/SignatureModule.swift
  ios/Module/models/KeySpec.swift
Due: none

feat: add an invalidate key option to android
  android/src/main/java/expo/module/signature/SignatureModule.kt
  android/src/main/java/expo/module/signature/models/KeySpec.kt
Due: none

feat: add invalidate prop to the example app
  example/App.tsx
Due: npm run lint -- --fix --max-warnings=0, prettier --write

docs: update readme with the new invalidation prop
  README.md
Due: prettier -w

feat: implement recovery functionality for aliases created with react-native-ecc
  android/src/main/java/expo/module/signature/SignatureModule.kt
  ios/Module/SignatureModule.swift
  src/index.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write

refactor: replace keychain application tag with application label key
  ios/Module/SignatureModule.swift
Due: none

refactor: remove the generic keychain query function
  ios/Module/SignatureModule.swift
Due: none

feat: option to invalidate keys on biometric change (#15)
  README.md
  android/src/main/java/expo/module/signature/SignatureModule.kt
  android/src/main/java/expo/module/signature/models/KeySpec.kt
  example/App.tsx
  ios/Module/SignatureModule.swift
  ios/Module/models/KeySpec.swift
  src/SignatureModule.types.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

refactor: query for a key without requiring biometry
  ios/Module/SignatureModule.swift
Due: none

refactor: query for a key without requiring biometry in ios 🫆
  ios/Module/SignatureModule.swift
Due: none

build: bump package version to 0.3.2
  package-lock.json
  package.json
Due: prettier -w

build: bump package version to 0.3.2 (#17)
  package-lock.json
  package.json
Due: prettier -w
