Repository INDAPP/expo-signature: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

chore: add pull request template
  .github/pull_request_template.md
Due: prettier -w

refactor: ci workflow only on pull requests
  .github/workflows/CI.yml
Due: none

ci: setup continuous integration 🦾 (#2)
  .github/actions/npm-install/action.yml
  .github/pull_request_template.md
  .github/workflows/CI.yml
  .github/workflows/node.js.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .node-version
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

test: ios signature module
  ios/Tests/SignatureModuleTests.swift
Due: none

ci: test ios module
  .github/workflows/CI.yml
Due: none

build: expo fingerprint script
  example/package-lock.json
  example/package.json
Due: prettier -w

chore: lock ruby version
  .ruby-version
Due: none

refactor: update folder structure and podspec file
  ios/Module/SignatureException.swift
  ios/Module/SignatureModule.swift
  ios/Module/extensions/Data+EC.swift
  ios/Module/extensions/Data+RSA.swift
  ios/Module/models/KeySpec.swift
  ios/Module/models/PublicKey.swift
  ios/Module/models/SignatureAlgorithm.swift
  ios/Module/models/SignaturePrompt.swift
  ios/SignatureModule.podspec
Due: none

ci: expo fingerprint and prebuild actions
  .github/actions/expo-fingerprint/action.yml
  .github/actions/expo-prebuild/action.yml
  .github/actions/npm-install/action.yml
  .github/workflows/CI.yml
Due: none

build: add expo-build-properties plugin to import testspecs
  example/app.json
  example/package-lock.json
  example/package.json
Due: prettier -w

test: signature module swift ✅ (#3)
  .github/actions/expo-fingerprint/action.yml
  .github/actions/expo-prebuild/action.yml
  .github/actions/npm-install/action.yml
  .github/workflows/CI.yml
  .ruby-version
  example/app.json
  example/package-lock.json
  example/package.json
  ios/Module/SignatureException.swift
  ios/Module/SignatureModule.swift
  ios/Module/extensions/Data+EC.swift
  ios/Module/extensions/Data+RSA.swift
  ios/Module/models/KeySpec.swift
  ios/Module/models/PublicKey.swift
  ios/Module/models/SignatureAlgorithm.swift
  ios/Module/models/SignaturePrompt.swift
  ios/SignatureModule.podspec
  ios/Tests/SignatureModuleTests.swift
Due: prettier -w

refactor: update methods and classes signature
  android/src/main/java/expo/module/signature/SignatureModule.kt
  android/src/main/java/expo/module/signature/models/KeySpec.kt
Due: none

build: setup android test in gradle
  android/build.gradle
Due: none

--wip-- [skip ci]
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
Due: none

refactor: update methods and classes signature
  android/src/main/java/expo/module/signature/SignatureModule.kt
  android/src/main/java/expo/module/signature/models/KeySpec.kt
  android/src/main/java/expo/module/signature/models/SignaturePrompt.kt
Due: none

test: kotlin signature module
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
Due: none

refactor: separates the biometric prompt from the sign function
  android/src/main/java/expo/module/signature/SignatureModule.kt
Due: none

test: disable biometry
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
Due: none

refactor: use control variable in module to disable biometry
  android/src/main/java/expo/module/signature/SignatureModule.kt
Due: none

test: mock either with mockk
  android/build.gradle
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
  android/src/main/java/expo/module/signature/SignatureModule.kt
Due: none

ci: android test
  .github/workflows/CI.yml
Due: none

test: android signature length
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
Due: none

test: ios signature length
  ios/Tests/SignatureModuleTests.swift
Due: none

ci: remove avd cache and gradle build steps
  .github/workflows/CI.yml
Due: none

test: signature module kotlin ✅ (#4)
  .github/workflows/CI.yml
  android/build.gradle
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
  android/src/main/java/expo/module/signature/SignatureModule.kt
  android/src/main/java/expo/module/signature/models/KeySpec.kt
  android/src/main/java/expo/module/signature/models/SignaturePrompt.kt
  ios/Tests/SignatureModuleTests.swift
Due: none

chore: remove commented code on example app
  example/App.tsx
Due: npm run lint -- --fix --max-warnings=0, prettier --write

docs: update readme with specific key generation
  README.md
Due: prettier -w

docs: update pull request template
  .github/pull_request_template.md
Due: prettier -w

docs: signature key algorithm 📄 (#5)
  .github/pull_request_template.md
  README.md
  example/App.tsx
Due: npm run lint -- --fix --max-warnings=0, prettier --write, prettier -w

feat(android): use strong box when available during keys generation
  android/src/main/java/expo/module/signature/SignatureModule.kt
Due: none

test: mock strong box property
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
Due: none

feat: android strong box 📦 (#6)
  android/src/androidTest/java/expo/module/signature/SignatureModuleTest.kt
  android/src/main/java/expo/module/signature/SignatureModule.kt
Due: none

ci: continuous delivery on npmjs registry
  .github/workflows/CD.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

ci: continuous delivery on npmjs registry (#7)
  .github/workflows/CD.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

chore: bump package version to 0.2.0
  package.json
Due: prettier -w

ci: split test and ci
  .github/actions/expo-prebuild/action.yml
  .github/workflows/CI.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: split test and ci (#9)
  .github/actions/expo-prebuild/action.yml
  .github/workflows/CI.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

style: apply prettier rules
  app.plugin.js
  plugin/src/withLocalAuthentication.ts
Due: npm run lint -- --fix --max-warnings=0, prettier --write

ci: strict control on linting
  .github/workflows/CI.yml
Due: none

Path conditions:
  npm run lint -- --fix --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
